menu "esp_cli configuration"

    config ESP_CLI_HAS_QUIT_CMD
        bool "Register quit command"
        default n
        help
            Register a static command "quit" that allows the user to return from the esp_cli main loop.
            The command is registered through the ESP_CLI_COMMAND_REGISTER macro provided by esp_cli_commands component
            and is placed in the dedicated flash section.
endmenu
