[submodule "libsodium/libsodium"]
	path = libsodium/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "cbor/tinycbor"]
	path = cbor/tinycbor
	url = https://github.com/intel/tinycbor.git
[submodule "nghttp/nghttp2"]
	path = nghttp/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "expat/expat"]
	path = expat/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "coap/libcoap"]
	path = coap/libcoap
	url = https://github.com/obgm/libcoap.git
[submodule "usb/usb_host_uvc/libuvc"]
	path = usb/usb_host_uvc/libuvc
	url = https://github.com/libuvc/libuvc.git
