**/dist/**
**/build*/**
**/__pycache__/**
sdkconfig
sdkconfig.old
dependencies.lock
**/managed_components/**
.vscode/
.cache
.DS_Store
warnings.txt
# Ignore artifacts for documentation build
doxygen_output/
**/docs/book/
docs_build_output/
pytest-args.txt
build_info*.json