CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_EXAMPLE_XYMODEM_BACKEND_UART=y
CONFIG_EXAMPLE_XYMODEM_BACKEND_UHCI=n
CONFIG_EXAMPLE_XYMODEM_ROLE_SEND=n
CONFIG_EXAMPLE_XYMODEM_ROLE_RECV=y
CONFIG_EXAMPLE_XYMODEM_UART_PORT=0
