CONFIG_EXAMPLE_FIRMWARE_UPGRADE_URL="FROM_STDIN"
CONFIG_EXAMPLE_SKIP_COMMON_NAME_CHECK=y
CONFIG_EXAMPLE_SKIP_VERSION_CHECK=y
CONFIG_EXAMPLE_OTA_RECV_TIMEOUT=3000
CONFIG_EXAMPLE_CONNECT_WIFI=n
CONFIG_EXAMPLE_ENABLE_CI_TEST=y
CONFIG_EXAMPLE_CONNECT_ETHERNET=n
CONFIG_MBEDTLS_TLS_SERVER_AND_CLIENT=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
