menu "GNU Code Coverage"

    config ESP_GCOV_ENABLE
        bool "GCOV to Host Enable"
        depends on ESP_TRACE_TRANSPORT_APPTRACE && ESP_TRACE_LIB_NONE
        select ESP_DEBUG_STUBS_ENABLE
        select ESP_IPC_ENABLE
        default n
        help
            Enables support for GCOV data transfer to host.

    config ESP_GCOV_DUMP_TASK_STACK_SIZE
        int "Gcov dump task stack size"
        depends on ESP_GCOV_ENABLE
        default 2048
        help
            Configures stack size of Gcov dump task

endmenu
